.all-issues{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px 0;
    align-items: center;
}
.all-issues .issue-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.all-issues .issue-card {
    background: linear-gradient(to bottom, rgb(46, 139, 87, 0.5), #eef);
    border-radius: 35px;
    display: flex;
    width: 70%;
    flex-direction: column;
    padding: 20px;
}
.all-issues .div-row {
    display: flex;
}
.all-issues .left-col{
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.all-issues img{
    width: 150px;
    margin: 15px;
}
.all-issues .right-col{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}
.all-issues h3{
    font-size: 35px;
    font-weight: 700;
}
.all-issues h4{
    font-size: 30px;
    font-weight: 600;
}
.all-issues p{
    font-size: 25px;
    font-weight: 500;
}
.all-issues .comment-issue-row{
    display: flex;
    align-items: start;
    justify-content: start;
}
.all-issues .bold-p{
    font-weight: 600;
    margin: 0 10px;
}