.issue-dd {
    height: 50px;
    display: flex;
    width: 100%;
    margin: 25px 15px;
    justify-content: center;
}
.issue-dd .dd{
    width: 40%;
    padding: 10px ;
    background-color: #eef;
    border: solid #000 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.issue-dd .dropdown{
    background: transparent;
    border: none;
}