.custom-button {
    display: flex;
    margin: 40px 15px;
    justify-content: center;
    width: 100%;
}
.custom-button .normal {
    padding: 10px 20px;
    font-size: 22px;
    width: 40%;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background: #0B2C47;
}
.custom-button .logout {
    padding: 10px 20px;
    font-size: 22px;
    width: 40%;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background: #ff5665;
}